<!-- Page Content -->
<div class="container">
          <!-- Page Heading/Breadcrumbs -->
          <h1 class="mt-4 mb-3">About
            <small>MyRealMotivation</small>
          </h1>
    
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/" onclick="reloadPage(''); return false;">Home</a>
            </li>
            <li class="breadcrumb-item active">About</li>
          </ol>
    
          <!-- Intro Content -->
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid rounded mb-4" src="/img/mrm_about.jpg" alt="">
            </div>
            <div class="col-lg-6">
              <h2>About MyRealMotivation</h2>
              <p>MyRealMoyivation is a new type of social network. This is the only web application where you can talk about your victories and achievements, set goals and achieve them, read the goals of other people and help them, create something new and strive for better life.</p>
              <p>The project is designed to bring people closer and improve their quality of life through self-motivation. The web application only helps to set goals and achieve them. With the help of this project, you will motivate yourself and try to achieve your goal. Good luck!</p>
              <p>With best wishes, team MyRealMotivation.</p><p> С наилучшими пожеланиями, команда MyRealMotivation.</p>  <p>衷心祝愿，MyRealMotivation團隊。</p> <p>Con mis mejores deseos, equipo MyRealMotivation. </p>
            </div>
          </div>
          <!-- /.row -->  
        </div>

      </p>