 <!-- Page Content -->
 <div class="container">
    
          <!-- Page Heading/Breadcrumbs -->
          <h1 class="mt-4 mb-3">FAQ
            <small>MyRealMotivation</small>
          </h1>
    
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/" onclick="reloadPage('');">Home</a>
            </li>
            <li class="breadcrumb-item active">FAQ</li>
          </ol>
    
          <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Why does MyRealMotivation exist</a>
                </h5>
              </div>
    
              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  A web application exists to bring together motivated people. The main idea and purpose of the project is the dissemination of information between people, mutual assistance in achieving dreams and motivating people to act.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How to LogIn and to registr
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                  LogIn. <br>In the upper right corner of the site, click on the login button, it will drop you to the bottom of the first page, where you can go to your profile and enjoy using the web service.
                  <br>How to registr. For successful registration, you need three steps.
                  <br>1) In the upper right corner, select the registration button. You have come to a page where you need to enter your name, username, email, which you will need in the future.
                  <br>2) You will receive a letter with a code on the e-mail, which you will need to enter into the opened form.
                  <br>3) Create a password. Click Continue. Select the avatar for your profile, set the date of birth, gender and select your totem animal.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How to post my article</a>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
    
        </div>
        <!-- /.container -->