    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/img/live-your-dream.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h1>MyRealMotivation</h1>
              <p>Let's start improving your life together</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/img/filmmaker.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h1>MyRealMotivation</h1>
              <p>Web-application that can help you if you have any troubles</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/img/colors.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h1>MyRealMotivation</h1>
              <p>with us you will achieve anything</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <!--<h1 class="my-4">Welcome! Choose what interests you</h1>-->
      <!--<h1 class="my-4 text-primary">Welcome! Choose what interests you</h1>-->
      <h1 class="my-4">
        <div style="display:inline" class="text-primary">W</div><div style="display:inline" class="text-success">e</div><div style="display:inline" class="text-info">l</div><div style="display:inline" class="text-warning">c</div><div style="display:inline" class="text-danger">o</div><div style="display:inline" class="text-primary">m</div><div style="display:inline" class="text-success">e</div><div style="display:inline" class="text-info">!</div>
        <div style="display:inline" class="text-warning">C</div><div style="display:inline" class="text-danger">h</div><div style="display:inline" class="text-primary">o</div><div style="display:inline" class="text-success">o</div><div style="display:inline" class="text-info">s</div><div style="display:inline" class="text-warning">e</div>  
        <div style="display:inline" class="text-danger">W</div><div style="display:inline" class="text-primary">h</div><div style="display:inline" class="text-info">a</div><div style="display:inline" class="text-warning">t</div>
        <div style="display:inline" class="text-warning">i</div><div style="display:inline" class="text-danger">n</div><div style="display:inline" class="text-primary">t</div><div style="display:inline" class="text-info">e</div><div style="display:inline" class="text-warning">r</div><div style="display:inline" class="text-primary">e</div><div style="display:inline" class="text-danger">s</div><div style="display:inline" class="text-primary">t</div><div style="display:inline" class="text-info">s</div>
        <div style="display:inline" class="text-warning">y</div><div style="display:inline" class="text-danger">o</div><div style="display:inline" class="text-primary">u</div>
      </h1>

      <div class="row" id="themesList">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/it" onclick="reloadPage('it'); return false;"><img class="card-img-top" src="/img/code.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/it" onclick="reloadPage('it'); return false;">IT</a>
              </h4>
              <p class="card-text">If you lost a motivation in IT or you want to get a small piece of motivation!If you want to read real people's stories or watch a video that motivates you to work and study further, then click on the button!</p>
              <div class="card-footer">
              <a href="/it" onclick="reloadPage('it'); return false;" class="btn btn-primary">Motivate</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/life" onclick="reloadPage('life'); return false;"><img class="card-img-top" src="/img/kids.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/life" onclick="reloadPage('life'); return false;">Life</a>
              </h4>
              <p class="card-text">Have you lost something or someone in your life? Any problems in life? We can help you with the beginning of solutions to these problems, we hope you will continue to live and enjoy life.</p>
              <div class="card-footer">
              <a href="/life" onclick="reloadPage('life'); return false;" class="btn btn-primary">Motivate</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/sport" onclick="reloadPage('sport'); return false;"><img class="card-img-top" src="/img/bermuda.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/sport" onclick="reloadPage('sport'); return false;">Sport</a>
              </h4>
              <p class="card-text">Do not stop going to your goal. You should only want and properly motivate yourself to achieve your goal. Click on the button and find your own motivation.</p>
              <div class="card-footer">
              <a href="/sport" onclick="reloadPage('sport'); return false;" class="btn btn-primary">Motivate</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/education" onclick="reloadPage('education'); return false;"><img class="card-img-top" src="/img/book.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a  href="/education" onclick="reloadPage('education'); return false;">Education</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              <div class="card-footer">
              <a  href="/education" onclick="reloadPage('education'); return false;" class="btn btn-primary">Motivate</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/family" onclick="reloadPage('family'); return false;"><img class="card-img-top" src="/img/family.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/family" onclick="reloadPage('family'); return false;">Family</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              <div class="card-footer">
              <a href="/family" onclick="reloadPage('family'); return false;" class="btn btn-primary">Motivate</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/business" onclick="reloadPage('business'); return false;"><img class="card-img-top" src="/img/write.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/business" onclick="reloadPage('business'); return false;">Business</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
              <div class="card-footer">
              <a href="/business" onclick="reloadPage('business'); return false;" class="btn btn-primary">Motivate</a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <script>
        function loadLogin() {     
          if(window.location.pathname == "/") {

            // IF MAIN PAGE THEN SCROLL

            document.getElementById('login').scrollIntoView({
              behavior: "smooth",
              block: "start"
            });
          }
          else {

            // IF ANOTHER PAGE THEN POPUP

          }
        }
      </script>

      <!-- Call to Action Section -->
      <!--<div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>-->

    </div>
    <!-- /.container -->

    <script>
      document.getElementById("preloader").style = 'display:none';
      document.getElementById("mainPage").style = 'display:block';
    </script>